<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css'/>
</head>
<body>
    <h1>Hei hå! <%= title %></h1>

    <!-- JQuery -->
    <script src="/libs/jquery/dist/jquery.min.js"></script>

    <!-- Custom js -->
    <script src="/js/index.js"></script>
</body>
</html>
