<div class="col-md-12">
    <div class="col-md-4">
        <div>
            <status-chart
                data="statusCounts"
                labels="statusLabels"
                colors="statusChartColors">
            </status-chart>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <status-chart
                data="reviewStatusCounts"
                labels="reviewStatusLabels"
                colors="reviewStatusChartColors">
            </status-chart>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <status-chart
                data="layoutStatusCounts"
                labels="layoutStatusLabels"
                colors="layoutStatusChartColors">
            </status-chart>
        </div>
    </div>
</div>
