<div>
    <table class=" word-table">
        <tr>
            <td class="word-number">{{articles.length}}</td>
            <td class="word-number">{{totalLength}}</td>
        </tr>
        <tr>
            <td class="word-text">artikler.</td>
            <td class="word-text">tegn skrevet.</td>
        </tr>
        <tr>
            <td class="word-number">{{totalLength/articles.length}}</td>
            <td class="word-number">{{symbolsPerHour}}</td>
        </tr>
        <tr>
            <td class="word-text">tegn i gjennomsnitt.</td>
            <td class="word-text">tegn per time for å nå igjen forrige utgave. ({{lastSymbolLength}} tegn)</td>
        </tr>
    </table>
    <table class="word-bar-table">
        <tr>
            <td ng-repeat="section in sectionSymbols">
                <div ng-show="section.length > 0"
                     class="word-bar-element"
                     style="{{'width: ' + (section.length/totalLength)*totalBarLength + 'px;background-color: ' + section.section.color}}">
                    <div>{{section.section.name}}</div>
                    <div>{{floor((section.length/totalLength)*100)}}%</div>
                </div>
            </td>
        </tr>
    </table>
</div>

